%% -*- mode: erlang -*-
{erl_opts, [debug_info]}.

{deps, []}.

{profiles,
 [{test,
   [{deps,
     [{proper, "1.5.0"},
      {meck, "1.2.0"}]},
    {erl_opts, [debug_info, {d, 'TEST'}]}]}]}.

{ct_opts, [{dir, "test"}]}.

{eunit_opts, [verbose]}.

{cover_enabled, true}.

{dialyzer, [{plt_apps, all_deps}]}.
